target/
pom.xml.tag
pom.xml.releasebackup
pom.xml.versionsbackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildnumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

.classpath
.project
.settings/

.vscode/

.idea/
*.iml

*.swp

credentials.json
tokens/
